/* Common styles */
html {
  font-size: 16px; 
}
body {
  width: 90rem;
  height: 117.1875rem;
  background: linear-gradient(0deg, rgba(219, 199, 152, 0.15) 0%, rgba(219, 199, 152, 0.15) 100%), #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* made a main header container and styles */
.main__header {
  position: relative;
}

.header__picture {
  width: 100%;
  height: auto;
}
.header__text {
  position: absolute;
  z-index: 2;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%) rotate(-6.65deg);
  width: 23.89519rem;
  height: 6.08975rem;
  flex-shrink: 0;
  display: block;
  font-family: Kristi;
  font-size: 3.5rem;
  margin-block-start: 0.67rem;
  margin-block-end: 0.67rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

.header__text__kitchen {
  position: absolute;
  top: 67%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 32.8125rem;
  height: 6.1875rem;
  flex-shrink: 0;
  color: var(--White, #FFF);
  font-family: Kulim Park;
  font-size: 8.125rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

/* added responsive styles */


.header_buttons {
  position: absolute;
  top: 5%;
  left: 65%;
}

.header_buttons button {
  margin: 0.3125rem;
}

/* the contact form container and content */

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.94rem;
  padding-top: 8.94rem;
  padding-bottom: 10rem;
  padding-left: 10.6rem;
}

.head__contact {
  font-family: Kulim Park;
  font-size: 6.25rem;
  font-style: bold;
  font-weight: 600;
  line-height: normal;
}

.head__info {
  margin-top: 3.19rem;
  font-family: Kulim Park;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
 
 /* Input fields */
 .form__column1 {
  padding-top: 4.06rem;
 }

 label {
  font-family: Kulim Park;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

 }

 .inputs {
  width: 16.5625rem;
  height: 2.1875rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.70);
  background: var(--White, #FFF);
  margin-top: 0.94rem;
  margin-bottom: 2.44rem;
 }
 
 
 /* Select boxes */
 select {
   margin: 1.25rem 0;
   padding: 0.3125rem;
   padding-right: 2.5rem;
   border: 0.0625rem solid rgba(0, 0, 0, 0.70);
   border-radius: 0.3125rem;
 }
 
 /* info id */
 #inquiry {
   font-family: Kulim Park;
   margin-top: 1.25rem;
   margin-bottom: 1.25rem;
   border-radius: 0.3125rem;
   height: fit-content;
   text-align: start;
 }


 #inquiry:focus {
   background-color: lightcyan;
 }
 

 /* Button id */
 .submit__button {
   font-family: Kulim Park;
   font-size: smaller;
   padding: 0.625rem 0.9375rem;
   border: 0.125rem solid black;
   border-radius: 0.5rem;
   margin-left: 9.8rem;
 }
 
 .submit__button:hover {
   border-color: orange;
   background-color: lightcyan;
 }
 
 /* Paragraphs */
 p {
   font-size: small;
   margin: 0.125rem 0 1.25rem 0px;
 }

 #submit__toast {
  display: none;
  font-family: Kulim Park;
  position: fixed;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.3125rem;
  border: 1px solid #357340;
  background: rgba(102, 200, 119, 0.50);
  color:black;    
  width: 21.4375rem;
  height: 3.9375rem;
  padding: 0.9375rem;
 }

 #submit__negative__toast {
  display: none;
  font-family: Kulim Park;
  position: fixed;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0.3125rem;
  border: 1px solid #357340;
  background: rgba(255, 138, 138, 0.50);
  color:black;    
  width: 21.4375rem;
  height: 3.9375rem;
  padding: 0.9375rem;
 }

  /* styles for the footer container */

   .footer__feats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10.5rem;
    padding-left: 10.1rem;
    padding-right: 10.1rem;
  }
 
 .newsletter__text {
    color: #000;
    font-family: Kulim Park;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 0.59rem;
 }
 
 .newsletter__input {
    width: 16.5625rem;
    height: 2rem;
    flex-shrink: 0;
    font-family: Kulim Park;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.70);
    background: var(--White, #FFF);
    padding-left: 10.06rem;

 
    /* placeholder */
    color: rgba(0, 0, 0, 0.50);
    font-family: Kulim Park;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

  .newsletter__submit {
    font-family: Kulim Park;
    width: 4.875rem;
    height: 1.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #000;
    background-color: lightgray;
  }

  .newsletter__submit:hover {
    border-color: orange;
    background-color: lightcyan;
  }

 
 /* style for the newsletter toast */
 #newsletter__toast__push {
    display: none;
    font-family: Kulim Park;
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.3125rem;
    border: 1px solid #357340;
    background: rgba(102, 200, 119, 0.50);
    color:black;
    width: 21.4375rem;
    height: 3.9375rem;
    padding: 0.9375rem;
 }
 
 .footer__links {
    display: flex;
    font-family: Kulim Park;
    text-align: center;
    justify-content: center;
    width: 100%; 
    margin: 0 auto; 
  }
 
  .footer__links p {
    margin-top: 4.62rem;
    margin-right: 4.94rem;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 1rem;
  }


  .overlay__cookies, .overlay__terms {
    display: none;
  }
 
  .popup {
    background-color: #fff;
    padding: 0.9375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Kulim Park;
  }
 
 .feature__copyright {
    color: rgba(0, 0, 0, 0.50);
    font-family: Kulim Park;
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
 }
 
 .feature__copyright__text {
    color: rgba(0, 0, 0, 0.80);
    font-family: Kristi;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
 }
 
 .footer__column3 {
    text-align: center;
 }
 
 .socialmedia__icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.53rem;
 }
 
 .socialmedia__icons li {
    width: 10%;
    height: 10%;
    margin: 0;
 }
 
 .socialmedia__text {
    color: #000;
    font-family: Kulim Park;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
 }