* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.footer__feats {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.25rem;
   padding-left: 7.9rem;
   padding-right: 7.9rem;
 }

.newsl__txt {
   /* small newsletter txt */
   color: #000;
   font-family: Kulim Park;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-align: center;
}

.newsl__input {
   width: 16.5625rem;
   height: 2rem;
   flex-shrink: 0;
   border-radius: 0.1875rem;
   border: 0.0625rem solid rgba(0, 0, 0, 0.70);
   background: var(--White, #FFF);

   /* placeholder */
   color: rgba(0, 0, 0, 0.50);
   font-family: Kulim Park;
   font-size: 0.95rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

/* style for the newsletter toast */
#newsl__submit__toast {
   display: none;
   position: fixed;
   bottom: 1.25rem;
   left: 50%;
   transform: translate(-50%);
   border-radius: 0.3125rem;
   border: 1px solid #357340;
   background: rgba(102, 200, 119, 0.50);
   color:black;
   width: 21.4375rem;
   height: 3.9375rem;
   padding: 0.9375rem;
}

.footer__links {
   display: flex;
   font-family: Kulim Park;
   text-align: center;
   justify-content: center;
   width: 100%; 
   margin: 0 auto; 
 }

 .footer__links p {
   margin-top: 4.62rem;
   margin-right: 4.94rem;
   cursor: pointer;
   font-size: 1rem;
 }
/* got some help from ChatGPT on the general layout of the popup,
   will style it according to how I picture it later, 
   I just needed a "base */
 .overlay__cookies, .overlay__terms {
   display: none;
 }

 .popup {
   background-color: #fff;
   padding: 0.9375rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
   text-align: center;
 }

 /* reusing this font quite a bit, will clean up the code later so
   it doesnt repeat itself too often, and rather is grouped */
.f__copyright {
   /* Small */
   color: rgba(0, 0, 0, 0.50);
   font-family: Kulim Park;
   font-size: 0.95rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-align: center;
}

.f__copyright__txt {
   color: rgba(0, 0, 0, 0.80);
   font-family: Kristi;
   font-size: 3.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}

.footer__column3 {
   text-align: center;
}

.socialmedia__icons {
   list-style-type: none;
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1.53rem;
}

.socialmedia__icons li {
   width: 7%;
   height: 7%;
   margin: 0;
}

.socialmedia__txt {
   /* Small socialmedia txt */
   color: #000;
   font-family: Kulim Park;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-align: center;
}