/* disclaimer; if the css code seems a bit weirdly input,
   it is because I am getting help from the figma developer tool.
   I will go over it and fix it */

/* defined font size so I can translate to rem 
   instead of using px */
html {
   font-size: 16px; 
 }
body {
   width: 90rem;
   height: 117.1875rem;
   background: linear-gradient(0deg, rgba(219, 199, 152, 0.15) 0%, rgba(219, 199, 152, 0.15) 100%), #FFF;
}

/* made a main header container so I can 
   try to lay it out according to the prototype */
.main__header {
   position: relative;
}

.header__pic {
   width: 100%;
   height: auto;
}
.header__txt {
   position: absolute;
   top: 55%;
   left: 70%;
   transform: translate(-50%, -50%) rotate(-6.65deg);
   width: 23.89519rem;
   height: 6.08975rem;
   flex-shrink: 0;
   display: block;
   font-size: 2rem;
   margin-block-start: 0.67rem;
   margin-block-end: 0.67rem;
   margin-inline-start: 0;
   margin-inline-end: 0;
   font-weight: bold;
}

.header__txt__kitchen {
   position: absolute;
   top: 67%;
   left: 75%;
   transform: translate(-50%, -50%);
   width: 32.8125rem;
   height: 6.1875rem;
   flex-shrink: 0;
   color: var(--White, #FFF);
   font-family: Kulim Park;
   font-size: 8.125rem;
   font-style: italic;
   font-weight: 600;
   line-height: normal;
}

/* added responsive styles */
@media only screen and (max-width: 768px) {
   .header__txt {
     position: absolute;
     top: 57%;
     left: 58%;
     transform: translate(-50%, -50%) rotate(-6.65deg) ;
     width: auto;
     height: auto;
     font-size: 2.5rem;
   }
 
   .header__txt__kitchen {
     position: absolute;
     top: 75%; 
     left: 64%;
     transform: translate(-50%, -50%);
     width: auto;
     height: auto;
     font-size: 5rem;
   }
 }
.h_buttons {
   position: relative;
   text-align: center;
}

.h_buttons button {
   margin: 0.3125rem;
}

/* made a hero feature container so I can 
   try to lay it out according to the prototype 
   will also add responsive styles*/
.h__feat__container {
   position: relative;
   width: 90rem;
   height: 43.375rem;
   flex-shrink: 0;
   background: rgba(217, 217, 217, 0.30);
}

.hero__txt {
   position: inherit;
   top: 50%;
   left: 50%;
   color: #000;
   font-family: Kristi;
   font-size: 3.25rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   transform: rotate(-4.65deg)
}

.hero__txt__xmas {
   position: inherit;
   top: 50%;
   left: 50%;
   color: #9C0000;
   font-family: Kristi;
   font-size: 4.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: 95.5%;
   transform: rotate(-4.65deg)
}
.hero__present {
   position: inherit;
   top: 50%;
   left: 50%;
   width: 5%;   
   height: 5%;
   transform: rotate(-4.65deg)
}

/* slideshow basic styles
   will go over css later */
.slideshow__container {
   max-width: 62.5rem;
   position: relative;
   margin: auto;
}

.oneslide {
   display: none;
}

.fade {
   animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
   0%, 100% { opacity: 0.4; }
   20%, 80% { opacity: 1; }
}


.pgh_text {
   position: inherit;
   top: 50%;
   left: 50%;
   color: #000;
   font-family: Kulim Park;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

/* made an undersection container so I can
   try to lay it out according to the prototype */
.undersection__container {
   text-align: center;
   margin-left: 158px;
   margin-right: 158px;
 }
 

 .recipe_buttons {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 .recipe__wrapper {
   margin: 0.625rem;
 }

 .recipe__btn {
   border: none;
   background: none;
   cursor: pointer;
 }

 .recipe__btn img {
   width: 16.5625rem;
   height: 11.1875rem;
   flex-shrink: 0;
 }

 .recipe__desc {
   text-align: center;
 }

 /* made a footer container so I can try to place
   the features according to the prototype */
 .footer__feats {
   background: rgba(217, 217, 217, 0.30);
   width: 90rem;
   height: 16.25rem;
   flex-shrink: 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 0.9375rem;
   position: relative;     
   text-align: center;  
   height: 100%;
   border-collapse: collapse;  
 }

 .feat_newsletter, .trademark__atk, 
 .connect__feature {
   display: flex;
   flex-direction: column;
   align-items: center, bottom;
   position: relative;
   margin-left: 158px;
 }

.newsl__txt {
   /* small newsletter txt */
   color: #000;
   font-family: Kulim Park;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.newsl__input {
   width: 16.5625rem;
   height: 2rem;
   flex-shrink: 0;
   border-radius: 0.1875rem;
   border: 0.0625rem solid rgba(0, 0, 0, 0.70);
   background: var(--White, #FFF);

   /* placeholder */
   color: rgba(0, 0, 0, 0.50);
   font-family: Kulim Park;
   font-size: 0.95rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

 /* style for the newsletter toast */
#newsl__submit__toast {
   display: none;
   position: fixed;
   bottom: 1.25rem;
   left: 50%;
   transform: translate(-50%);
   border-radius: 0.3125rem;
   border: 1px solid #357340;
   background: rgba(102, 200, 119, 0.50);
   color:black;
   width: 21.4375rem;
   height: 3.9375rem;
   padding: 0.9375rem;
  }
.footer__links {
   position: relative;
   
 }

 .footer__links p {
   margin: 0 10px;
   cursor: pointer;
 }
/* got some help from ChatGPT on the general layout of the popup,
   will style it according to how I picture it later, 
   I just needed a "base */
 .overlay__cookies, .overlay__terms {
   display: none;
 }

 .popup {
   background-color: #fff;
   padding: 0.9375rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
   text-align: center;
 }

 /* reusing this font quite a bit, will clean up the code later so
   it doesnt repeat itself too often, and rather is grouped */
.f__copyright {
   /* Small */
   color: rgba(0, 0, 0, 0.50);
   font-family: Kulim Park;
   font-size: 0.95rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.f__copyright__txt {
   color: rgba(0, 0, 0, 0.80);
   font-family: Kristi;
   font-size: 3.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.socialmedia__icons li {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: inline-block;
   width: 3.5%;
   height: 3.5%;
   margin-right: 0.625rem;
}

.socialmedia__txt {
   /* Small socialmedia txt */
   color: #000;
   font-family: Kulim Park;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}